.bigButton
{
    border-radius:20px;
    width:486px;
    height:158px;
    background-color:#e55622;
    top:473px;
    left:138px;
    position:absolute;
    border: 0;
    outline: 0;

    font-size:40px;
    font-family:Inter;
    color:#ffffff;
}